.component1-wrapper {
  display: contents;
}
 
.component1-container1 {
  width: 20%;
  height: 100vh;
  display: flex;
  position: relative;
  align-items: center;
  margin-left: var(--dl-layout-space-unit);
  padding-top: var(--dl-layout-space-threeunits);
  margin-right: var(--dl-layout-space-oneandhalfunits);
  padding-left: var(--dl-layout-space-twounits);
  padding-right: var(--dl-layout-space-halfunit);
  flex-direction: column;
  padding-bottom: var(--dl-layout-space-threeunits);
  justify-content: flex-start;
}
 
.component1-container2 {
  width: 20vh;
  height: 90vh;
  display: grid;
  margin-right: 0px;
  grid-template-rows: 1fr 1fr 1fr 1fr;
  grid-template-columns: 1fr;
}
 
.component1-text1 {
  fill: #11151c;
  color: #11151c;
  height: 1fr;
  display: flex;
  font-size: 2.5em;
  align-items: flex-end;
  font-family: "JetBrains Mono";
  grid-row-end: 2;
  grid-row-start: 1;
  grid-column-end: 2;
  grid-column-start: 1;
}
 
.component1-ul1 {
  color: #5e6572;
  height: 1fr;
  display: flex;
  font-size: 1.2em;
  margin-top: 0px;
  align-items: flex-start;
  grid-row-end: 3;
  padding-left: 0px;
  margin-bottom: 0px;
  flex-direction: column;
  grid-row-start: 2;
  grid-column-end: 2;
  justify-content: center;
  grid-column-start: 1;
}
 
.component1-ul2 {
  color: #5e6572;
  height: 1fr;
  display: flex;
  font-size: 1.2em;
  margin-top: 0px;
  align-items: flex-start;
  grid-row-end: 4;
  padding-left: 0px;
  margin-bottom: 0px;
  flex-direction: column;
  grid-row-start: 3;
  grid-column-end: 2;
  justify-content: flex-start;
  grid-column-start: 1;
}
 
.component1-link5 {
  color: #5e6572;
}
 
.component1-container3 {
  gap: var(--dl-layout-space-halfunit);
  width: auto;
  height: 1fr;
  display: flex;
  align-items: flex-end;
  grid-row-end: 5;
  flex-direction: row;
  grid-row-start: 4;
  grid-column-end: 2;
  grid-column-start: 1;
}
 
.component1-icon1 {
  width: var(--dl-layout-size-small);
  height: var(--dl-layout-size-small);
  transition: 0.3s;
  margin-right: 0px;
}
 
.component1-icon1:hover {
  transform: scale(1.2);
}
 
.component1-image {
  width: var(--dl-layout-size-small);
  height: var(--dl-layout-size-small);
  object-fit: cover;
  transition: 0.3s;
  grid-row-end: 2;
  grid-row-start: 1;
  grid-column-end: 3;
  grid-column-start: 2;
}
 
.component1-image:hover {
  transform: scale(1.2);
}
 
.recenthtml-fragment7 {
  display: contents;
}
 
.recenthtml-text7 {
  display: inline-block;
}
 
.recenthtml-fragment6 {
  display: contents;
}
 
.recenthtml-text6 {
  display: inline-block;
}
 
.recenthtml-fragment2 {
  display: contents;
}
 
.recenthtml-text2 {
  display: inline-block;
}
 
.recenthtml-fragment5 {
  display: contents;
}
 
.recenthtml-text5 {
  display: inline-block;
}
 
.recenthtml-fragment4 {
  display: contents;
}
 
.recenthtml-text4 {
  display: inline-block;
}
 
.recenthtml-fragment1 {
  display: contents;
}
 
.recenthtml-text1 {
  display: inline-block;
}
 
.recenthtml-fragment3 {
  display: contents;
}
 
.recenthtml-text3 {
  display: inline-block;
}
 

 
@media(max-width: 991px) {
  .component1-container1 {
    width: 30%;
  }
  .component1-text1 {
    font-size: 2.3em;
  }
}
 
@media(max-width: 767px) {
  .component1-container1 {
    width: 100%;
    height: 100%;
    margin-left: 0px;
    margin-right: 0px;
    padding-right: var(--dl-layout-space-twounits);
  }
  .component1-container2 {
    width: 100%;
    height: 100%;
  }
  .component1-text1 {
    color: rgb(17, 21, 28);
    display: flex;
    align-items: center;
    font-family: JetBrains Mono;
    justify-content: center;
  }
  .component1-ul1 {
    font-size: 1.5em;
    align-items: center;
  }
  .component1-ul2 {
    font-size: 1.5em;
    align-items: center;
  }
  .component1-container3 {
    align-items: center;
    justify-content: center;
  }
  .component1root-class-name {
    display: none;
  }
}
 
@media(max-width: 479px) {
  .component1-container1 {
    margin-left: 0px;
  }
}

.recenthtml-container1 {
  width: 100%;
  display: flex;
  overflow: hidden;
  min-height: 100vh;
  align-items: flex-start;
  font-family: "JetBrains Mono";
  flex-direction: row;
  justify-content: flex-start;
}
 
.recenthtml-fragment1 {
  display: contents;
}
 
.recenthtml-text1 {
  display: inline-block;
}
 
.recenthtml-fragment2 {
  display: contents;
}
 
.recenthtml-text2 {
  display: inline-block;
}
 
.recenthtml-fragment3 {
  display: contents;
}
 
.recenthtml-text3 {
  display: inline-block;
}
 
.recenthtml-fragment4 {
  display: contents;
}
 
.recenthtml-text4 {
  display: inline-block;
}
 
.recenthtml-fragment5 {
  display: contents;
}
 
.recenthtml-text5 {
  display: inline-block;
}
 
.recenthtml-fragment6 {
  display: contents;
}
 
.recenthtml-text6 {
  display: inline-block;
}
 
.recenthtml-fragment7 {
  display: contents;
}
 
.recenthtml-text7 {
  display: inline-block;
}
 
.recenthtml-navbar-interactive {
  width: 100%;
  display: none;
  align-items: center;
  padding-top: var(--dl-layout-space-twounits);
  padding-left: var(--dl-layout-space-threeunits);
  padding-right: var(--dl-layout-space-threeunits);
  padding-bottom: var(--dl-layout-space-twounits);
  justify-content: space-between;
}
 
.recenthtml-desktop-menu {
  flex: 1;
  display: flex;
  justify-content: space-between;
}
 
.recenthtml-links1 {
  flex: 1;
  display: flex;
  align-items: center;
  flex-direction: row;
  justify-content: center;
}
 
.recenthtml-galley {
  margin-left: var(--dl-layout-space-twounits);
}
 
.recenthtml-contacts1 {
  margin-left: var(--dl-layout-space-twounits);
}
 
.recenthtml-recent-works {
  margin-left: var(--dl-layout-space-twounits);
}
 
.recenthtml-sculptures1 {
  margin-left: var(--dl-layout-space-twounits);
}
 
.recenthtml-paintings1 {
  margin-left: var(--dl-layout-space-twounits);
}
 
.recenthtml-burger-menu {
  display: none;
}
 
.recenthtml-icon10 {
  width: var(--dl-layout-size-xsmall);
  height: var(--dl-layout-size-xsmall);
}
 
.recenthtml-mobile-menu {
  top: 0px;
  left: 0px;
  width: 100%;
  height: 100vh;
  display: none;
  padding: 32px;
  z-index: 100;
  position: absolute;
  flex-direction: column;
  justify-content: space-between;
  background-color: #fff;
}
 
.recenthtml-nav {
  display: flex;
  align-items: flex-start;
  flex-direction: column;
}
 
.recenthtml-top {
  width: 100%;
  display: flex;
  align-items: center;
  margin-bottom: var(--dl-layout-space-threeunits);
  justify-content: space-between;
}
 
.recenthtml-close-menu {
  display: flex;
  align-items: center;
  justify-content: center;
}
 
.recenthtml-icon12 {
  width: var(--dl-layout-size-xsmall);
  height: var(--dl-layout-size-xsmall);
}
 
.recenthtml-links2 {
  flex: 0 0 auto;
  display: flex;
  align-self: flex-start;
  align-items: flex-start;
  flex-direction: column;
}
 
.recenthtml-home2 {
  margin-bottom: var(--dl-layout-space-unit);
}
 
.recenthtml-gallery {
  margin-bottom: var(--dl-layout-space-unit);
}
 
.recenthtml-contacts2 {
  margin-bottom: var(--dl-layout-space-unit);
}
 
.recenthtml-sculptures2 {
  margin-bottom: var(--dl-layout-space-unit);
}
 
.recenthtml-paintings2 {
  margin-bottom: var(--dl-layout-space-unit);
}
 
.recenthtml-icon14 {
  width: var(--dl-layout-size-xsmall);
  height: var(--dl-layout-size-xsmall);
  margin-right: var(--dl-layout-space-twounits);
}
 
.recenthtml-icon16 {
  width: var(--dl-layout-size-xsmall);
  height: var(--dl-layout-size-xsmall);
  margin-right: var(--dl-layout-space-twounits);
}
 
.recenthtml-icon18 {
  width: var(--dl-layout-size-xsmall);
  height: var(--dl-layout-size-xsmall);
}
 
.recenthtml-container2 {
  width: 80%;
  height: 100vh;
  display: grid;
  align-self: center;
  place-items: center;
  padding-bottom: var(--dl-layout-space-fiveunits);
  grid-template-columns: 1fr;
}
 
.recenthtml-slider {
  width: 40%;
  height: 60%;
  display: flex;
}
 
.recenthtml-slider-slide1 {
  display: flex;
  background-size: contain;
  background-image: url('https://images.unsplash.com/photo-1745390017905-0a1d6bf99e1a?ixid=M3w5MTMyMXwwfDF8YWxsfDE2fHx8fHx8fHwxNzQ1NjE4MTk0fA&ixlib=rb-4.0.3&h=900');
  background-repeat: no-repeat;
  background-position: center;
}
 
.recenthtml-slider-slide2 {
  display: flex;
  background-size: contain;
  background-image: url('https://images.unsplash.com/photo-1697384333613-de519c7367c4?crop=entropy&cs=tinysrgb&fit=max&fm=jpg&ixid=M3w5MTMyMXwwfDF8cmFuZG9tfHx8fHx8fHx8MTY5OTk3NzAzN3w&ixlib=rb-4.0.3&q=80&h=900');
  background-repeat: no-repeat;
  background-position: center;
  background-attachment: center;
}
 
.recenthtml-slider-slide3 {
  display: flex;
  background-size: contain;
  background-image: url('https://images.unsplash.com/photo-1698180687511-bd6c0104ee98?crop=entropy&cs=tinysrgb&fit=max&fm=jpg&ixid=M3w5MTMyMXwwfDF8cmFuZG9tfHx8fHx8fHx8MTY5OTk3NzQ5NXw&ixlib=rb-4.0.3&q=80&h=900');
  background-repeat: no-repeat;
  background-position: center;
}
 
.recenthtml-slider-slide4 {
  display: flex;
  background-size: contain;
  background-image: url('https://images.unsplash.com/photo-1698180687511-bd6c0104ee98?crop=entropy&cs=tinysrgb&fit=max&fm=jpg&ixid=M3w5MTMyMXwwfDF8cmFuZG9tfHx8fHx8fHx8MTY5OTk3NzQ5NXw&ixlib=rb-4.0.3&q=80&h=900');
  background-repeat: no-repeat;
}
 
.recenthtml-slider-slide5 {
  display: flex;
  background-size: contain;
  background-image: url('https://images.unsplash.com/photo-1698180687511-bd6c0104ee98?crop=entropy&cs=tinysrgb&fit=max&fm=jpg&ixid=M3w5MTMyMXwwfDF8cmFuZG9tfHx8fHx8fHx8MTY5OTk3NzQ5NXw&ixlib=rb-4.0.3&q=80&h=900');
  background-repeat: no-repeat;
}
 
.recenthtml-slider-pagination {
  fill: #242423;
  color: #242423;
  display: block;
}
 
.recenthtml-slider-pagination-bullet1 {
  color: #242423;
  background: #242423;
  text-align: #242423;
}
 
.recenthtml-slider-button-prev {
  fill: #242423;
  color: #242423;
}
 
.recenthtml-slider-button-next {
  fill: #242423;
  color: #242423;
}
 
@media(max-width: 767px) {
  .recenthtml-container1 {
    flex-direction: column;
  }
  .recenthtml-navbar-interactive {
    height: 10vh;
    display: flex;
    padding-left: var(--dl-layout-space-twounits);
    padding-right: var(--dl-layout-space-twounits);
  }
  .recenthtml-desktop-menu {
    display: none;
  }
  .recenthtml-burger-menu {
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .recenthtml-home2 {
    margin-bottom: var(--dl-layout-space-unit);
  }
  .recenthtml-gallery {
    margin-left: 0;
    margin-bottom: var(--dl-layout-space-unit);
  }
  .recenthtml-contacts2 {
    margin-left: 0;
    margin-bottom: var(--dl-layout-space-unit);
  }
  .recenthtml-sculptures2 {
    margin-left: 0;
    margin-bottom: var(--dl-layout-space-unit);
  }
  .recenthtml-paintings2 {
    margin-left: 0;
    margin-bottom: var(--dl-layout-space-unit);
  }
  .recenthtml-container2 {
    width: 100%;
    height: 90vh;
    padding-bottom: 0px;
  }
}
 
@media(max-width: 479px) {
  .recenthtml-navbar-interactive {
    padding: var(--dl-layout-space-unit);
  }
  .recenthtml-mobile-menu {
    padding: 16px;
  }
}
